@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");

:root {
  --white: #fff;
  --command: #df0000;
  --science: rgb(0, 151, 106);
  --engineering: #f2c300;
  --black: #000;
  --bg-button: rgb(82, 77, 77);
  --button-hover: #5865f2;
  --rank-height: 2rem;
  --max-width: 600px;
  --fw-bold: 1000;
  --font-family: "Play", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Play", sans-serif;
  color: var(--white);
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
  text-align: center;
  background: var(--black) url(./img/stars.png) repeat top center;
}

/* BG Styling */
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.twinkling {
  background: url(./img/twinkling.png) repeat top center;
  z-index: 1;
  animation: move-twink-back 200s linear infinite;
  height: 1000px;
}

/* Bar styling */
.div-bar {
  height: 2rem;
  border-radius: 1rem 1rem 0 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.div-bar::before {
  right: 50%;
  transform: skew(0, -135deg);
}
.div-bar::after {
  left: 50%;
  transform: skew(0, 135deg);
}

/* .div-bar-command::before,
.div-bar-command::after {
  position: absolute;
  margin-top: 0.5rem;
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--black);
  top: -0.1rem;
  z-index: 3;
}
.div-bar-science::before,
.div-bar-science::after {
  position: absolute;
  margin-top: 10.5rem;
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--black);
  top: -0.1rem;
  z-index: 3;
}

.div-bar-engineering::before,
.div-bar-engineering::after {
  position: absolute;
  margin-top: 10.5rem;
  content: "";
  width: 20px;
  height: 20px;
  background-color: black;
  top: -10.1rem;
  z-index: 3;
} */

.invert {
  transform: scaleY(-1);
}

.engineering {
  background-color: var(--engineering);
}

.science {
  background-color: var(--science);
}

.command {
  background-color: var(--command);
}

/* Home Page Styling */
.h1-home {
  padding-top: rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
}

.container {
  max-width: var(--max-width);
  z-index: 3;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
}

.p-home {
  margin: 2rem;
  width: 100%;
  text-align: center;
  align-self: center;
}

.emphasis {
  font-weight: var(--fw-bold);
}

/* Latinum */
.latinum {
  width: 25px;
  height: 35px;
  transform: skew(-20deg);
  border-radius: 4px;
  margin: 0.41rem;
  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
}

.buster {
  font-size: 1.2rem;
}

.display-latinum {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  height: 50px;
  margin-left: 12rem;
  justify-content: flex-end;
}

/* Score and Question count */
.display-score {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

.display-score-right {
  justify-self: right;
}

.display-question-count-left {
  justify-self: left;
}

/* Questions6 */
.question-card {
  background-color: rgba(117, 115, 115, 0.2);
  border-radius: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
.question-answer-button {
  width: 90%;
  height: 9rem;
  border-radius: 1rem;
  background-color: var(--bg-button);
  margin: 0.25rem;
  color: var(--white);
  /* padding: 0 1rem 0 1rem; */
  font-family: var(--font-family);
  font-size: 1.5rem;
  text-align: left;
  border: 7px solid transparent;
}

.question-answer-button:hover {
  border-color: var(--button-hover);
}

/* GameOver */
.h1-gameover {
  width: 50%;
  margin: auto;
}

.span-blink-score-gameover {
  animation: blinker 1s linear infinite;
  color: var(--engineering);
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.div-gameover {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: rgba(117, 115, 115, 0.2);
  border-radius: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  width: 100%;
  height: 681px;
}

.container-game-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.game-buttons {
  width: 30%;
  height: 150%;
  border-radius: 1rem;
  background-color: var(--bg-button);
  margin: 0.25rem;
  color: var(--white);
  padding: 0 1rem 0 1rem;
  font-family: var(--font-family);
  font-size: 1.5rem;
  text-align: center;
  border: 10px solid transparent;
}

.game-buttons:hover {
  border-color: var(--button-hover);
}
