@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");

:root {
  --white: #fff;
  --command: #df0000;
  --science: rgb(0, 151, 106);
  --engineering: #f2c300;
  --black: #000;
  --bg-button: rgb(82, 77, 77);
  --button-hover: #5865f2;
  --rank-height: 2rem;
  --max-width: 800px;
  --fw-bold: 1000;
  --font-family: "Play", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Play", sans-serif;
  color: var(--white);
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
  text-align: center;
  background: var(--black) url(./img/stars.png) repeat top center;
}

.h1-home {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
}

.container {
  max-width: var(--max-width);
  z-index: 3;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
}
.question-container {
  border-top-width: var(--rank-height);
  border-top-color: var(--engineering);
  border-top-style: solid;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
}

.p-home {
  margin: 2rem;
  width: 70%;
  text-align: center;
  align-self: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.stars,
.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.stars {
  background: var(--black) url(./img/stars.png) repeat top center;
  z-index: 0;
  height: 1000px;
}

.twinkling {
  background: url(./img/twinkling.png) repeat top center;
  z-index: 1;
  animation: move-twink-back 200s linear infinite;
  height: 1000px;
}

.emphasis {
  font-weight: var(--fw-bold);
}

.latinum {
  width: 40px;
  height: 50px;
  transform: skew(-20deg);
  border-radius: 4px;
  margin: 0.41rem;
  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
}

.buster {
  font-size: 2rem;
}

.display-latinum {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1.5rem;
  height: 50px;
  margin-left: 12rem;
  justify-content: flex-start;
}

.display-score {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

.display-score-right {
  justify-self: right;
}

.display-question-count-left {
  justify-self: left;
}

.display-score-right,
.display-question-count-left {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.question-card {
  background-color: rgba(117, 115, 115, 0.2);
  border-radius: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
.question-answer-button {
  width: 90%;
  height: 8rem;
  border-radius: 1rem;
  background-color: var(--bg-button);
  margin: 0.25rem;
  color: var(--white);
  padding: 0 1rem 0 1rem;
  font-family: var(--font-family);
  font-size: 1.5rem;
  text-align: left;
  border: 12px solid transparent;
}

.question-answer-button:hover {
  border-color: var(--button-hover);
}

.h1-gameover {
  width: 50%;
  margin: auto;
}

.span-blink-score-gameover {
  animation: blinker 1s linear infinite;
  color: var(--engineering);
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.div-gameover {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: rgba(117, 115, 115, 0.2);
  border-radius: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  width: 92%;
  border-top-width: var(--rank-height);
  border-top-color: var(--engineering);
  border-top-style: solid;
}

.div-bar {
  height: 2rem;
  border-radius: 1rem 1rem 0 0;
  position: relative;
}

.engineering {
  background-color: var(--engineering);
}

.science {
  background-color: var(--science);
}

.command {
  background-color: var(--command);
}
